@import 'config';
body{
  font-family:$Font; font-size: $FontSize; 
}
::-webkit-scrollbar { width:10px;}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-thumb { background-color:#bdbdbd;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
::-webkit-scrollbar-thumb:window-inactive {background-color:#bdbdbd;}
* {
  padding: 0; margin: 0;
}
ul,ol{
   list-style: none;
} 
ul#notification{
  display: block; margin: 0 auto;
  max-width: 350px;
  // padding: 10px;
  li {
    background-color: #f4f4f5;
    box-shadow: 0px 1px 1px 1px #666;
    padding:20% 10%;
    text-align: center;
    color: #666;
    p{
      padding: 10%;
      color: #ccc;
      font-size: 90%;
    }
  }
}
div#demo{
  dl{
    display: table; width: 96%; padding: 1%; margin: 1%;
    // border-bottom: 1px dotted #DBDBDB;
    // box-shadow: 0px -1px 2px #e1e1e2;
    dt,dd{
      display: table-cell; vertical-align: middle; overflow: hidden; 
      // background-color: #f4f4f5;
    }
    dt{
      width:30%;min-width: 300px;
      // box-shadow:inset 1px 0 1px 1px #DBDBDB; border-radius: 2px;
      font-size: 90%;
      // background-color: #F5F5F7;
      // border-bottom: 1px solid #DBDBDB;
    }
    dd{
      // width: 70%;
      // overflow: hidden;
      pre{
        code{
          padding: 0; margin: 0;font-size: 95%; 
          // box-shadow:inset 0px 0 2px 1px #ccc;
          // border-radius: 3px;
          border-left: 1px solid #DBDBDB;
          background-color: #f4f4f5;
        }
      }
    }
    &.configuration{
      dt{
        text-align: center;
        p{
          &[title]{
            &:before{
              content: attr(title);
              padding-right: 4px;
              color: #ccc;
            }
          }
        }
      }
    }
  }
}
form {
  display: block;
   font-size: 90%;
  div{
    display: table-row; 
    p{
      display: table-cell; padding: 2px;font-size: 90%;vertical-align: middle;
      &:first-child{
        width: 100px;
        text-align: right; 
        color: #666;
      }
      &:last-child{
        color: #ccc;
        input,select,textarea{
          box-shadow:inset 0px 0 1px 1px #ccc; border-radius: 2px;
          padding:5px 7px;
          border: 0;
        }
        input[type="submit"]{
          box-shadow:inset 0px 0 1px 1px #666;
          background-color: #C9C9C7;
          font-weight: bold;
          color: #858483;
          &:hover{
            color: #545452;
          }
        }
      }
    }
    &:last-child{
      display: block;
      // margin-left:100px;
      p{
        display: block;
        margin-left:103px;
        text-align: left;
      }
    }
  }
}
@media screen and (max-width: 736px) { 
    div.demo{
      overflow: hidden;
      dl{
        padding: 0; margin: 0; width: 100%;
        dt,dd{
          display: block;width: 100%;
        }
        dt{
        }
        dd{
          pre{
            padding: 5px 0;
            code{
              border-left: 0px;
              // border-top: 1px solid #DBDBDB;
              box-shadow: 0px 0px 1px 1px #ccc;
              // background-color: transparent;
            }
          }
        }
      }
    }
}